<h4>
  <%= @card.title %>
</h4>
<%= link_to 'Karte bearbeiten', edit_theme_card_path %>

<div class="well">  
  <table class="bordered-table zebra-striped">
    <tbody>
      <% @theme.categories.each do |category| %>
        <tr>
          <td>#<%= category.position %></td>
          <td>ID-<%= category.id %></td>
          <td><%= link_to category.title, new_theme_card_content_path(@theme, @card, @content) %></td>
          <td><%= link_to 'bearbeiten',  edit_theme_category_path(@theme, category) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="bordered-table zebra-striped">
    <tbody>
      <% @card.contents.each do |content| %>
        <tr>
          <td>Wert: <%= content.title %></td>
          <td><%= link_to 'Bearbeiten',  edit_theme_card_content_path(@theme, @card, content) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<%= link_to 'Neue Kategorie anlegen', new_theme_category_path(@theme, @category), :class => 'btn large primary' %>
<%= link_to 'Neuen Inhalt hinzufügen', new_theme_card_content_path(@theme, @card, @content), :class => 'btn large primary' %>
