<table class="bordered-table zebra-striped">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td><%= @card.id %></td>
      <td><%= @card.title %></td>
      <td><%= link_to "Kommentar" %></td>
      <td><%= link_to 'Karte bearbeiten', edit_theme_card_path, :class => 'btn large primary' %></td> 
    </tr>
  </tbody>
</table>
<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>Vergleichs-Kategorie</th>
      <th>Wert</th>
      <th>Komentar</th>
    </tr>
  </thead>
  <tbody>
  <% @card.categories.each do |category| %>
    <tr>
      <td><%= link_to category.title %></td>
      
      <td><%= link_to "Kommentar" %></td>     
    </tr>
  <% end %>
  </tbody>
</table>
